html, body {
    background: rgb(59, 59, 59);
    font: 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app.container {
    line-height: 1.2em;
    margin: 20px auto;
}

textarea {
    background: inherit;
    outline: none;
    resize: none;
    border: none;
}

textarea#new-note {
    color: white;
    border-bottom: 2px solid black;
    border-radius: 0;
}

.note-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.note-content {
    border-radius: 8px;
    background: #eeeeee;
}

.edit-mode > .note-content {
    border-radius: 8px 0 0 8px;
}

.delete-button {
    background: rgb(200, 50, 50);
}

.edit-mode > .delete-button {
    border-radius: 0 8px 8px 0;
}

.col-xs-0 {
    width: 0;
    display: none;
}

.tags a {
    border: 1px solid #919bba;
    border-radius: 6px;
    color: #919bba;
    float: left;
    clear: left;
    padding: .1em .2em;
    margin-bottom: .4em;
}

.tags a:hover {
    border: 1px solid #a1accf;
    color: #a1accf;
    text-decoration: none;
}

[contenteditable="true"]:active, [contenteditable="true"]:focus {
    border:none;
    outline:none;
}

p {
    margin: 10px 0;
    white-space: pre-wrap;
}

.filtered-out {
    display: none;
}
