<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>NoteDash</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="container" id="app">
        <header id="header" class="row">
            <textarea rows="1" id="new-note" class="col-xs-8 col-xs-offset-2" placeholder=" Note or #Search"></textarea>
            <div class="tags col-xs-2"></div>
        </header>
        <div id="notes-container"></div>
    </div>

    <script id="note-template" type="text/template">
        <div class="note-content col-xs-8 col-xs-offset-2">
            <p class="note-text"><%= text %></p>
        </div>
        <div class="delete-button col-xs-0"></div>
        <div class="tags col-xs-2">
            <% _.each(tags, function(tag) { %>
                <a href="<%= tag %>"><%= tag %></a>
            <% }); %>
        </div>
    </script>

    <script src="js/lib/jquery-1.11.1.min.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="js/lib/backbone.localStorage-min.js"></script>
    <script src="js/lib/jquery.autosize.min.js"></script>
    <script src="js/models/note.js"></script>
    <script src="js/collections/NoteCollection.js"></script>
    <script src="js/views/DashView.js"></script>
    <script src="js/views/NoteView.js"></script>
    <script src="js/router.js"></script>
</body>